@use "/styles/all" as *;

.filterBtn {
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 8px;

  font-family: "GothamMedium";
  font-size: 14px;
  color: $gray700;

  border: 1px solid $darkGrey;
  border-radius: 7px;
}
