@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputsHolder {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: "GothamMedium";
    font-size: 14px;
  }
  .label {
    font-family: "GothamMedium" !important;
    font-size: 14px !important;
  }

  .input {
    border: 1px solid $grey200;
  }
}
.or {
  margin-top: 43px;
}

.selectionsHolder {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.selectionContainerInput {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;

  font-family: "GothamMedium";
  font-size: 14px;
}

.productStatus {
  width: 30%;
}
