@use "/styles/all" as *;

.container {
  .formHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;

    .introTitle {
      font-weight: 700;
      line-height: 20px;
      color: $grey700;
    }

    .introSubTitle {
      line-height: 20px;
    }
  }

  .formContainer {
    .btnContainer {
      margin-top: 16px;
    }
  }
}
