@use "/styles/all" as *;

.container {
  padding-bottom: 24px;

  .formHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;

    .introTitle {
      font-weight: 700;
      line-height: 20px;
      color: $grey700;
    }

    .introSubTitle {
      line-height: 20px;
    }
  }

  .formContainer {
    .passwordContainer {
      margin-top: 16px;
      margin-bottom: 12px;
    }

    .spaceTop {
      margin-top: 16px;
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 16px;
    }
  }
}
