@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    .titleBtnContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .content {
      display: flex;
      justify-content: space-between;
    }
  }
}
