@font-face {
  font-family: "GothamBold";
  src: local("Gotham-Bold"), url("./assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "GothamBook";
  src: local("Gotham-Book"), url("./assets/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "GothamLight";
  src: local("Gotham-Light"), url("./assets/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "GothamMedium";
  src: local("Gotham-Medium"), url("./assets/fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "GothamThin";
  src: local("Gotham-Thin"), url("./assets/fonts/Gotham-Thin.otf");
}

@font-face {
  font-family: "GothamUltra";
  src: local("Gotham-Ultra"), url("./assets/fonts/Gotham-Ultra.otf");
}

@font-face {
  font-family: "NeueMachinaLight";
  src: local("NeueMachina-Light"), url("./assets/fonts/NeueMachina-Light.otf");
}

@font-face {
  font-family: "NeueMachinaRegular";
  src: local("NeueMachina-Regular"),
    url("./assets/fonts/NeueMachina-Regular.otf");
}

@font-face {
  font-family: "NeueMachinaUltrabold";
  src: local("NeueMachina-Ultrabold"),
    url("./assets/fonts/NeueMachina-Ultrabold.otf");
}
/* 
@font-face {
  font-family: "SFProTextSemibold";
  src: local("SF-Pro-Text-Semibold"),
    url("./assets/fonts/SF-Pro-Text-Semibold.otf");
} */
