@use "/styles/all" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 50%;
  padding: 24px;

  background-color: $light;
  border: 1px solid $grey200;
  border-radius: 12px;
}
