@use "/styles/all" as *;

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.layoutSidePanel {
  flex-basis: 54vw;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  gap: 100px;
  padding-top: 74px;
  padding-inline-start: 67px;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

.layoutContent {
  padding-top: 74px;
  padding-inline-start: 43px;
  padding-inline-end: 68px;
  overflow-y: auto;
}

.layoutText {
  font-weight: 700;
}

.formTitle {
  font-weight: 700;
  margin-bottom: 89px;
  line-height: 45px;
}
